#%RAML 1.0
title: BookMyHotelAPI
baseUri: http://bookmyhotel.com
mediaType: 
- application/json

types:
  Error: !include datatypes/Error.raml
   

/registrations:
  get: 
    headers:
      Accept?:   
    responses:
      200: 
        headers:
         Content-Type: 
        body:
      404: 
        headers:
         Content-Type: 
        body:
          Error
      
  post:
    headers:
      Content-Type: 
    body:
    responses:
      201:
        headers:
          Location:
            example: http://bookmyhotel.com/registrations/r1     
      500:
        headers:
          Content-Type: 
        body:
  /{registrationId}:
    get:
      headers:
        Accept?:
      responses:
        200:
          headers:
            Content-Type: 
          body:
        404:
          headers:
            Content-Type: 
          body:
    patch:
      headers:
        Content-Type: 
      body:
      responses:
        204:
        500:
          headers:
            Content-Type: 
          body:
    delete:
      headers:
        Accept?: 
      responses:
        200:
          headers:
            Content-Type: 
          body:
        404:
          headers:
            Content-Type: 
          body:
/hotels:
  get:
    headers:
      Accept?: 
        example: application/json
    queryParameters:
      city:
        required: false
      state:
        required: false
      country:
        required: false
    responses:
      200:
        headers:
          Content-Type: 
        body:
      404:
        headers:
          Content-Type: 
        body:
  post:
    headers:
      Content-Type: 
    body:
    responses:
      201:
        headers:
          Location: 
            example: http://bookmyhotel.com/hotels/h1
      500:
        headers:
          Content-Type: 
        body:
  /{hotelId}:
    get:
      headers:
        Accept?:
      responses:
        200:
          headers:
            Content-Type: 
          body:   
        404:
          headers:
            Content-Type: 
          body: 
    patch:
      headers:
        Content-Type: 
      body:
      responses:
        204:
        500:
          headers:
            Content-Type: 
          body:
    delete:
      headers:
        Accept?:
      responses:
        200:
          headers:
            Content-Type: 
          body:
        404:
          headers:
            Content-Type: 
          body:
    /bookings:
      get:
        headers:
          Accept?:
        responses:
          200:
            headers:
              Content-Type: 
            body:
          404:
            headers:
              Content-Type: 
            body:
/bookings:
  get:
    headers:
      Accept?: 
    responses:
      200:
        headers:
          Content-Type: 
        body:
      404:
        headers:
          Content-Type: 
        body:
  post:
    headers:
      Content-Type: 
    body:
    responses:
      201:
        headers:
          Location:
            example: http://bookmyhotel.com/bookings/b1
      500:
        headers:
          Content-Type: 
        body:
  /{bookingId}:
    get:
      headers:
        Accept?: 
      responses:
        200:
          headers:
            Content-Type: 
          body:
        404:
          headers:
            Content-Type: 
          body:
    patch:
      body:
      responses:
        204:
        500:
          headers:
            Content-Type: 
          body:
    delete:
      headers:
        Accept?:
      responses:
        200:
          headers:
            Content-Type: 
          body:
        404:
          headers:
            Content-Type: 
          body:


